.c-container {
  width: 100%;
  margin: 0 auto;
}
.c-container-flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  &.justify-content-center {
    justify-content: center;
  }
  &.align-items-center {
    align-items: center;
  }
}
@media (min-width: 576px) {
  .c-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .c-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .c-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .c-container {
    max-width: 1140px;
  }
}
