.c-input {
  border: 1px solid #c6baf8;
  border-radius: 4px;
  min-height: rem(42);
  padding: rem(0) rem(20);
  color: #cccccc;
  font-size: rem(12);

  &::placeholder {
    font-size: rem(12);
    color: #cccccc;
  }
}
